**/__pycache__/
data/17flowers/
site/
**/.venv/
venv/
**/.pytorch/
.conda/
.vscode/
**/logs/
**/chroma_db/
**/.ipynb_checkpoints/
deep-neural-net/data/
llm-langchain/dependencies/**
llm-langchain/my_feature_repo/**
llm-langchain/**/data/**
llm-langchain/featureform/.featureform/
llm-langchain/openAI/agent_domain_store/
deep-neural-net/d2l-en/
**/*.pth
pytorch/computer-vision/data/
**/models/
**/.env
**/.taipy/
techno/crew-ai/db/
**/agent_domain_store/
**/agent_vstore