**/__pycache__/**
data/17flowers/
**/.ipynb_checkpoints/*
DataScience-Python3/.ipynb_checkpoints/
site/
env/
**/.venv/
**/.pytorch/
.conda/
.vscode/
**/logs/
**/.ipynb_checkpoints/
deep-neural-net/data/
llm-langchain/dependencies/**
llm-langchain/my_feature_repo/**
llm-langchain/**/data/**
llm-langchain/featureform/.featureform/
llm-langchain/chroma_db/
deep-neural-net/d2l-en/
**/*.pth
pytorch/computer-vision/data/
**/models/
.env